<!-- Header -->
<div class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.php">Algenda</a>
</div>

<h1>Login</h1>
<% if (messages.error) { %> 
    <%= messages.error %>
<% } %>
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" 
        required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" 
        required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
